body {
  background-color: antiquewhite;
  font-weight: 900;
  font-family: "Courier New", "Arial", "Trebuchet MS";
}

p span {
  color: chocolate;
}

li a {
  color: red;
}

.title {
  color: rgb(50, 132, 234);
}
